footer {
  max-width: 50px;
  min-height: 100vh;
  .footer-container {
    bottom: 0;
    left: 10px;
    position: fixed;
    padding-bottom: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .title {
      color: _palette(black);
    }
    .footer-links {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        .social_icon {
          color: _palette(black);
        }
      }
    }
  }
}
