/* Masonry grid */
.masonry {
  transition: all 0.5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
  margin: 0 auto;
  width: calc(100% - 40px);
  @include breakpoint(lg) {
    width: calc(100% - 50px);
  }
  /* Masonry item */
  .brick {
    margin-bottom: 30px;
    display: inline-block;
    /* Fix the misalignment of items */
    vertical-align: top;
    /* Keep the item on the very top */
    border: 1px solid;
    padding: 20px;
    &:hover img {
      opacity: 0.75;
    }
    /* Masonry image effects */
    img {
      transition: all 0.5s ease-in-out;
      backface-visibility: hidden;
      /* Remove Image flickering on hover */
    }
  }
  /* Bordered masonry */
  &.bordered {
    column-rule: 1px solid #eee;
    column-gap: 50px;
    .brick {
      // padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid;
    }
  }
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .hashtag {
    font-size: 50px !important;
  }

  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}

.list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.list > div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
  flex: 0 0 calc(100% - 40px);
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  background-color: _palette(white);
  background-size: cover;
  background-position: center;
  a {
    &:hover {
      img {
        transform: scale(1.15, 1.15) rotate(-5deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  img {
    object-fit: scale-down;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 641px) {
  main {
    padding: 0 20px;
  }
  .list > div {
    flex: 0 0 calc(60% - 40px);
  }
  .list > div:nth-child(4n + 1),
  .list > div:nth-child(4n + 4) {
    flex: 0 0 calc(40% - 40px);
  }
}
