.list {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.list > div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
  flex: 0 0 calc(100% - 40px);
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  background-color: _palette(white);
  background-size: cover;
  background-position: center;
  a {
    &:hover {
      img {
        transform: scale(1.15, 1.15) rotate(-5deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  img {
    object-fit: scale-down;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 641px) {
  main {
    padding: 0 20px;
  }
  .list > div {
    flex: 0 0 calc(60% - 40px);
  }
  .list > div:nth-child(4n + 1),
  .list > div:nth-child(4n + 4) {
    flex: 0 0 calc(40% - 40px);
  }
}
