.blog-posts {
  @include modifier('wrapper') {
    margin: 0 auto;
    align-items: flex-start;
    display: grid;
    grid-gap: 40px;
    @include breakpoint(lg) {
      width: 60%;
      grid-template-columns: 1fr 1fr;
    }
  }
  @include element('thumb') {
    padding: 20px;
    &:nth-child(2n + 2) {
      padding-top: 100px;
    }
    .img {
      margin-bottom: 30px;
    }
  }
}

.lightbox-wrapper {
  position: absolute;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .fslightbox-container {
    height: 100vh;
  }
}
