.page {
  margin-top: 150px;
  position: relative;
  @include breakpoint(lg) {
    margin: 150px 50px 50px;
    padding: 50px;
  }
  @include modifier('home') {
    display: grid;
    grid-template-areas: 'featuredImg' 'content';
    align-items: center;
    min-height: 100vh;
    @include element('featured_img') {
      max-height: 50vh;
      opacity: 0.5;
      cursor: move;
      grid-area: featuredImg;
    }
    @include element('content') {
      grid-area: content;
      background: _palette(bg);
      padding: 30px;
      @include element('title') {
        color: _palette(black);
      }
      @include element('intro') {
      }
    }
    @include breakpoint(lg) {
      grid-gap: 75px;
      grid-template-areas: 'content featuredImg';
      grid-template-columns: 4fr 2fr;
      margin-top: 0;
      margin-bottom: 0;
      @include element('content') {
        justify-self: center;
        max-width: 70%;
      }
    }
  }
  @include modifier('the-crew') {
    padding-left: 10px;
  }
  @include modifier('center') {
    align-items: center;
    display: flex;
    height: 100vh;
    padding-top: 0;
  }
  @include modifier('f0f') {
    align-items: center;
    display: flex;
    height: 100vh;
    padding-top: 0;
  }
  @include modifier('bg') {
    // background-color: rgba(229, 230, 224, 0.5);
    background-color: _palette(bg);
  }
  @include modifier('blog') {
    // background-color: rgba(229, 230, 224, 0.5);
    background-color: _palette(bg);
    padding: 20px;
  }
  @include modifier('post') {
    // background-color: rgba(229, 230, 224, 0.5);
    background-color: _palette(bg);
    padding: 20px 0;
    > h2 {
      padding: 10px;
    }
  }
  iframe {
    max-width: 100%;
    height: 160px;
    display: flex;
    margin: 0 auto;
    @include breakpoint(lg) {
      max-width: 100%;
      height: 315px;
      margin: 0 0 1.666rem;
    }
  }
}
