.glitch {
  position: relative;
  animation: glitch 5s 5s infinite;
  &::before {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    // text-shadow: -2px 0 _palette(secondary);
    overflow: hidden;
    top: 0;
    animation: glitch 5s 5.05s infinite;
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    // text-shadow: -2px 0 _palette(primary);
    overflow: hidden;
    top: 0;
    animation: glitch 5s 5s infinite;
  }
}

.glow {
  @extend .glitch;
  // text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
