$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px
);

$container: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1610px
);

// Size
$size: (
  element-height: 2.75em,
  element-margin: 1.75em,
  gutter: 2.75em,
  gutter-medium: 2em,
  gutter-small: 1em,
  inner: 72em,
  header: 3.75em,
  header-small: 2.75em,
  navPanel: 22em
);

// Palette.
$palette: (
  bg-alt: #212121,
  bg: #e5e6e0,
  bg-alt-2: #463b5b,
  fg: #000000,
  fg-bold: #000000,
  fg-light: #000000,
  border: rgba(0, 0, 0, 0.125),
  border-bg: rgba(0, 0, 0, 0.05),
  black: #000000,
  blue: #04a9ea,
  lightGreen: #a4cc4a,
  primary: #00adee,
  secondary: #d1002a,
  yellow: #fde9a4,
  white: #ffffff,
  invert: (
    bg: #3a3a3a,
    fg: #ffffff,
    fg-bold: #ffffff,
    fg-light: rgba(255, 255, 255, 0.5),
    border: #ffffff,
    border-bg: rgba(255, 255, 255, 0.05)
  )
);
